body {
    background-color: #e6eaf2;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    color: rgb(87, 97, 122);
}

h2 > a {
    text-decoration: none;
    color: inherit;
}

h2 > a:hover {
    text-decoration: none;
    color: inherit;
}

form > label {
    color: red;
    font-size: 13px;
    margin-bottom: 0px;
    display: none;
}
input {
    margin-top: 10px;
}

input.btn {
    display: block;
    float: right;
}

#map {
    height: 300px;
    border-style: none;
    margin-bottom: 20px;
}

#submitResult{
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
}