div.main{
    margin:auto;
    display: table;
    background-color:#dedfe0;
    font-family: Arial;
}

h2{
    text-align: right;
    margin-top: 10px;  
}

input[type=text] {
    left: 0;
    display: table-row;
    text-align: right;
    margin:2px;
    border-style: none;
    background-color: inherit;
    width: 100%;
}

p, h2 {
    margin-right: 10px;
}

p{
    margin-bottom: 5px;
}

button {
    float: left;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: table-cell;
    min-width: 80px; 
}

.totheleft{
    clear: left;
}

.totheright{
    right: 0;
}

button:hover{
    border: 3px, solid,#4a4b4c;
    background-color: grey;
    color: white;
}

button:active{
    background-color:#4a4b4c;
    border: 3px, solid, darkgrey;
}

#equals{
    min-width: 164px;
}

#number{
    font-weight: bold; 
    font-size: 22px;
}


